.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 24px;
  height: 100%;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}