<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Configuraciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Registrar Medicos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Registrar Pacientes</a>
        </li>
    </ul>
</nav>
